<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <div class="navbar-nav nav-right">
          <% if(!currentUser){ %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Signup</a>
          <% } else {%>
            <a class="nav-item nav-link" href="#">Signed in as <%= currentUser.username %></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          <% }%>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <% if(error && error.length > 0) {%>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } else if(success && success.length > 0) {%>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>
    
