<% include partials/header %>

<h2><%= campground.name %></h2>

<img  class="col-md-3 col-sm-6 img-fluid" src="<%= campground.image %>" alt="<%= campground.name %>" />

<p><%= campground.description %></p>

<% include partials/footer %>
